:root {
  --yellow-color: #ff7b00;
  --yellow-light: #f8f184;
  --blue-color: #19587d;
  --white-color: #ffffff;
  --gradient-white: #ebe3d58a;
  --gradient-red: #89000978;
  --black-color: #4d2121;
}

#lehero {
  background-image: url(../assets/images/Batgame_1.png);
  height: 800px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles pour les groupe de boutons */
#lehero .container h1 {
  font-family: 'rajdhani';
  font-size: 70px;
  font-weight: 400;
  top: 300px;
  width: 100vh;
}

#lehero .fleche {
  display: block;
  margin: 0 auto;
  margin-top: 285px;
}

.jeu {
  display: flex;
  align-items: center;
}

.image-container {
  margin-right: 20px; /* Ajustez cette valeur selon vos préférences */
}



#gamestart{
  margin-left: 350px;
  border-color: #b95a01;
  text-decoration: none;
  color: var(--white-color);
  font-size: 22px;
  padding: 10px 40px;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--white-color), var(--yellow-color));
  box-shadow: var(--black-color) 15px 15px 50px;
}


.nextButton {
  margin-left: 200px;
  border-color: #b95a01;
  text-decoration: none;
  color: var(--white-color);
  font-size: 22px;
  padding: 10px 40px;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--white-color), var(--yellow-color));
  box-shadow: var(--black-color) 15px 15px 50px;
}

#gamestart:hover,
#quiz .nextButton:hover {
  background: linear-gradient(80deg, var(--white-color), var(--yellow-color));
  color: #ffffff;
}

#quiz h2{
  margin-left: 50px;
}

#restartButton{
  margin-left: 150px;
  border-color: #b95a01;
  text-decoration: none;
  color: var(--white-color);
  font-size: 22px;
  padding: 10px 40px;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, #dfdfdf, #b95a01);
  box-shadow: var(--black-color) 15px 15px 50px;
}

#restartButton:hover{
  background: linear-gradient(80deg, var(--white-color), var(--yellow-color));
  color: #ffffff;
}

.checkbox-custom {
  height: 30px;
  margin-right: 8px;
}

.label {
  margin-left: 8px;
  float: right;
}

.qcm {
  height: 30px;
  margin-top: 5px;
  background-color: #b6b2b2;
}

/* Espacement vertical */
.espace-verticale {
  height: 200px;
}

.bartman{
  margin-left: 50px;
}

.jeu{
  margin-left: 100px;
}

.gamebox h1 {
  text-align: center;
}

.gamebox .checkbox-custom {
  margin-top: 3px;
  margin-left: 3px;
  width: 20px;
  height: 20px; 
}

.gamebox .label{
  margin-right: 50%;
  font-size: large;
}
